.home {
  display: flex;
  flex-flow: row wrap;
}
.graph-container {
  padding: 0.2rem;
}
.graph-container .btn {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 0.1rem 0.4rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 4px;
  transition-property: all;
  transition-duration: 0.1s;
}

.graph-container .btn:hover {
  transform: scale(1.1);
  transition-property: all;
}
