{% extends "layout.html" %}
{% block content %}
<a href="{{ url_for('new') }}" class="btn btn-outline-info col-md-12 mr-auto">{{ text }}</a>
{% for data in datas %}
<article class="media content-section">
  <div class="media-body row">
    <h2><a class="article-title" href="#">{{ data.date }}</a></h2>
    <h4 class="mr-2">{{ data.user_id.username }}</h4>
    <h4 class="mr-2">{{ data.calories }} Calories</h4>
    <h4 class="mr-2">{{ data.weight }} LB</h4>
  </div>
</article>
{% endfor %}
{% endblock content %}